@import "../../styles/global.scss";

.mainContainer {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &__title {
    margin-top: 30px;
    h1 {
      font-size: 2.4rem;
      letter-spacing: 1.7px;
    }
  }
  &__buttons {
    width: 60%;
    display: flex;
    @media (max-width: $l-screen) {
      width: 70%;
    }
    @media (max-width: $m-screen) {
      flex-direction: column;
    }
    &--filters {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 0.5rem;
      @media (max-width: $m-screen) {
        justify-content: center;
      }
      button {
        width: 70px;
        color: black;
        background-color: transparent;
        border: 2px solid $buttons-colors;
        border-radius: 50px;
        font-weight: 700;
        cursor: pointer;
      }
      cursor: pointer;
    }
  }
  .mainContainer__grid {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
    @media (min-width: $s-screen) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $m-screen) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $l-screen) {
      grid-template-columns: repeat(4, 1fr);
      width: 60%;
    }
    @media (min-width: $xl-screen) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
